@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to ubiquityrd sheets */
.ubiquityrd {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for UbiquityRD (can be removed if not needed) */
}

.ubiquityrd .item-form {
  font-family: "Roboto", sans-serif;
}

.ubiquityrd .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.ubiquityrd .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.ubiquityrd .sheet-header .header-fields {
  flex: 1;
}

.ubiquityrd .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.ubiquityrd .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.ubiquityrd .sheet-tabs {
  flex: 0;
}

.ubiquityrd .sheet-body,
.ubiquityrd .sheet-body .tab,
.ubiquityrd .sheet-body .tab .editor {
  height: 100%;
}

.ubiquityrd .tox .tox-editor-container {
  background: #fff;
}

.ubiquityrd .tox .tox-edit-area {
  padding: 0 8px;
}

.ubiquityrd .medieval-box {
  border-style: solid;
  border-image: url(../assets/ui/box-border.png);
  border-width: 10px;
  border-image-slice: 10;
  position: relative;
  padding: 10px 0 0 0;
  margin-bottom: 15px;
}

.ubiquityrd .medieval-box.min-h-100 {
  min-height: 100px;
}

.ubiquityrd .medieval-box .box-title {
  position: absolute;
  border: 1px solid black;
  background-color: #dbd9cd;
  text-align: center;
  align-items: center;
  top: -1em;
  left: 20px;
  padding: 2px;
}

.ubiquityrd .medieval-box .box-title h2 {
  font-size: 0.75em;
  border-bottom: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.ubiquityrd .medieval-box .box-title a {
  display: block;
  font-size: 0.75em;
  line-height: unset;
  margin: 0;
  padding: 0;
}

.ubiquityrd .medieval-box .box-title.right {
  left: unset;
  right: 20px;
}

.ubiquityrd .medieval-box .grid {
  margin: 0;
  gap: 0 1em;
}

.ubiquityrd .medieval-box .attribute p {
  margin: 0;
  padding: 0;
  font-weight: 900;
}

.ubiquityrd .num-2 {
  max-width: 2em;
  text-align: center;
}

.ubiquityrd .resource-label {
  font-weight: bold;
}

.ubiquityrd .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.ubiquityrd .items-header > * {
  font-size: 14px;
  text-align: center;
}

.ubiquityrd .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

.ubiquityrd .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.ubiquityrd .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ubiquityrd .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}

.ubiquityrd .items-list .item-name h3, .ubiquityrd .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.ubiquityrd .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}

.ubiquityrd .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.ubiquityrd .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.ubiquityrd .items-list .item:last-child {
  border-bottom: none;
}

.ubiquityrd .items-list .item .item-name {
  color: #191813;
}

.ubiquityrd .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.ubiquityrd .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.ubiquityrd .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.ubiquityrd .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.ubiquityrd .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.ubiquityrd .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.ubiquityrd .effects .item .effect-source,
.ubiquityrd .effects .item .effect-duration,
.ubiquityrd .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.ubiquityrd .effects .item .effect-controls {
  border: none;
}
/*# sourceMappingURL=ubiquityrd.css.map */