<div class="grid">
    <div class="leftCell">
        <div class="primaryAttributes medieval-box">
            <div class="box-title">
                <h2>Primary Attributes</h2>
            </div>            
            <div class="grid">
                <div class="flexrow attribute">
                    <p>BODY</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>INTELLIENCE</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>CHARISMA</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>STRENGTH</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>DEXTERITY</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>WILLPOWER</p>
                    <input type="number" class="num-2">
                </div>
            </div>
        </div>
        <div class="secondaryAttribute medieval-box">
            <div class="box-title">
                <h2>Secondary Attributes</h2>
            </div>
            <div class="grid">
                <div class="flexrow attribute">
                    <p>INITIATIVE</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>SIZE</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>PERCEPTION</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>DEFENSE</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>MOVE</p>
                    <input type="number" class="num-2">
                </div>
                <div class="flexrow attribute">
                    <p>STUN</p>
                    <input type="number" class="num-2">
                </div>
            </div>
        </div>
        <div class="skills medieval-box">
            <div class="box-title">
                <h2>Skills</h2>
            </div>
            <div class="box-title right">
                <a>&nbsp;+&nbsp;</a>
            </div>
            <div>
                <ol class="item-list">
                    <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>
                      <li class="item flexrow" data-item-id="KDylot2pdPz3l2q9" draggable="true">
                        <div class="item-name flexrow">
                          <div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="icons/svg/item-bag.svg" title="New Talent" width="24" height="24"></a>
                          </div>
                          <h4>New Talent</h4>
                        </div>                        
                      </li>

                </ol>
            </div>
        </div>
    </div>
    <div class="rightCell">
        <div class="tracker medieval-box">
            <div class="box-title">
                <h2>Health</h2>
            </div>
        </div>
        <div class="talents medieval-box min-h-100">
            <div class="box-title">
                <h2>Talents</h2>
            </div>
            <div class="box-title right">
                <a>&nbsp;+&nbsp;</a>
            </div>
        </div>
        <div class="flaws medieval-box">
            <div class="box-title">
                <h2>Flaws</h2>
            </div>
            <div class="box-title right">
                <a>&nbsp;+&nbsp;</a>
            </div>
        </div>
        <div class="armor medieval-box">
            <div class="box-title">
                <h2>Armor</h2>
            </div>
            <div class="box-title right">
                <a>&nbsp;+&nbsp;</a>
            </div>
        </div>
        <div class="resources medieval-box">
            <div class="box-title">
                <h2>Resources</h2>
            </div>
            <div class="box-title right">
                <a>&nbsp;+&nbsp;</a>
            </div>
        </div>
    </div>
</div>
<div class="fencing-styles medieval-box">
    <div class="box-title">
        <h2>Fencing Styles</h2>
    </div>
    <div class="box-title right">
        <a>&nbsp;+&nbsp;</a>
    </div>
</div>
<div class="weapons medieval-box">
    <div class="box-title">
        <h2>Weapons</h2>
    </div>
    <div class="box-title right">
        <a>&nbsp;+&nbsp;</a>
    </div>
</div>